header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    text-align: justify;
    padding: 2em 1%;
    vertical-align: middle;
}

header * {
    display: inline;
    height: 50px;
}

header nav.ul {
    padding: 30;
}

header nav.li {
    margin-left: 50px;
    padding-left: 10px;
    margin: 1em 0;
}

body{
    margin: 0;
    margin-top: 50;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
  
  a:link {
    color: #265301;
}
  
  a:visited {
    color: #437A16;
}
  
  a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
}
  
  a:hover {
    border-bottom: 1px solid;     
    background: #CDFEAA;
}
  
  a:active {
    background: #265301;
    color: #CDFEAA;
}

section {
    height: 130vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
  text-align: center;
  padding: 50px;
  color: greenyellow;
}

#CV {
  background-image: url('cv.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#About {
  background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('about_me.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#FavouriteGames {
  background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('favourite_games.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#Interests {
  background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('interests.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#ContactDetails{
  background-color: darkgray;
}

#CV-Display{
  background-color: lightgray;
}

#Introduction{
  background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('interests_intro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gainsboro;
  background-attachment: fixed;


  text-align: center;
  text-underline-position: below;
  color: darkred;
  text-size-adjust: 90;

}

#Films{
  background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('films.jpg');
  background-attachment: fixed;

  text-align: center;
  color: green;
  height: auto;
}

table.interests, th.interests, td.interests
{
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th.interests, td.interests
{
  padding: 15px;
}

th.interests
{
  text-align: left;
}

table.interests
{
  border-spacing: 4px;
}

img.interests
{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

#History{
  background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('history.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

ul.interests{
  list-style-type: square;
}

#Volounteering{
  background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('OMAC.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 70px;
  text-align: left;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}


.fa-instagram {
  background: #03e76a;
  color: white;
}

#General{
  background-color: gray;
}

#Myself{
  background-color: lightgrey;
}

#Education{
  background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('education.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#Interest{
  background-color: gray;
}

#Contact{
  background-color: lightgrey;
}

h1.personal{
  text-align: center;
  color: blue;
}

h2.personal{
  text-align: center;
  color: orangered;
}

h3.personal{
  text-align: center;
  color: orange;
}

p.personal{
  color: whitesmoke;
  background-color: olivedrab;
}

img.personal{
  align-content: left;
}

table.personal, th.personal, td.personal {
  border: 1px solid black;
  border-collapse: collapse;
}

th.personal, td.personal{
  padding: 15px;
}

th.personal{
  text-align: left;
}

table.personal{
  border-spacing: 4px;
}

ul.personal{
  list-style-type: square;
}

#games-list{
  background-color: gray;
  color: #CCCCCC;
  text-decoration: underline;
}

ol{
  list-style-type: square;
  margin: 0;
  padding: 0;
  background: #3399ff;
  border: 1px solid #ddd;
}

ol.b {
  list-style-position: inside;
}

ol li{
  background-color: aquamarine;
  margin: 5px;
  border-bottom: 1px solid #ddd;
}

ol li:last-child {
  border-bottom: none
}


#Images{
  background-color: #333333;
  text-decoration-color: #CCCCCC;
  color: #BBBBBB;
}

#ExternalLinks{
background-color: #BBBBBB;
text-decoration-color: #DDDDDD;
color: #333333;
}

#Reviews{
background-color: #BBBBBB;
text-decoration-color: #DDDDDD;
color: #333333;
}

#MyThoughts{
background-color: #BBBBBB;
text-decoration-color: #DDDDDD;
color: #333333;
}

/* 
* {box-sizing:border-box} */

.slideshow-container {
max-width: 2500px;
position: relative;
margin: auto;
}


.mySlides {
display: none;
}


.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}


.next {
right: 0;
border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}


.text {
color: rgba(0,0,0,0.8);
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}


.numbertext {
color: rgba(0,0,0,0.8);
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
