<!DOCTYPE html>

<html>
    <head>
        <title>{{pageTitle}}</title>

            {% block head %}
             {% endblock %}

        <link rel="stylesheet" href="static/basic-style.css">
        <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <nav>
                {% block header %}
                {% endblock %}
                <ul>
                    {% block menu %}
                    {% endblock %}
                </ul>
            </nav>
        </header>

        <main>
            {% block body %}
            {% endblock %}
        </main>
        <footer>
            © Copyright Jack Malone, 2020
        </footer>
    </body>
</html>