{% extends "base.html" %}

{% block header %}
<div class="center-text">
    <a id="home" href="/">HomePage</a>
</div>
{% endblock %}

{% block menu %}
<li><a href="#CV-Display">CV</a></li>
 <li><a href="#ContactDetails">Contact Details</li>
{% endblock %}

{% block body %}
<section id="CV-Display">
    <div class="section-inner">
        <embed src="static/Malone_Jack_CV.pdf#zoom=50" type="application/pdf" width="100%" height="600px"/>
    </div>
</section>

<section id="ContactDetails">
    <div class="section-inner">
        <a href="mailto: c00236428@itcarlow.ie?subject = CV&body = Message">Send email</a>
    </div>
</section>
{% endblock %}