{% extends "base.html" %}

{% block header %}
<div class="center-text">
    <a id="home" href="/">HomePage</a>
</div>
{% endblock %}

{% block menu %}
<li><a href="#games-list">Games-list</a></li>
{% endblock %}

{% block body %}
<section id="games-list">              
    <pre>
        <h1>List of my current favourite games</h1><br>
    </pre>
    <ol>
        <li>
            <a href="/DFFOO" target="_blank">Dissidia Final Fantasy: Opera Omnia</a>
            <img src="static/DFFOO.jpg" alt="DFFOO">
        </li>

        <li>
            <a href="/AssassinsCreed" target="_blank">Assassin's Creed Odyssey</a>
            <img src="static/ACO.jpg" alt="Assassins Creed">
        </li>

        <li>
            <a href="/GodOfWar" target="_blank">God of War 4 (PS4 God of War)</a>
            <img src="static/GOW.jpg" alt="GOW">
        </li>
    </ol>
</section>
{% endblock %}