{% extends "base.html" %}

{% block header %}
<img src="static/Profile.jpg" class="profile-img">
{% endblock %}

{% block menu %}
<li><a href="#CV">CV</a></li>
<li><a href="#About">About me</a></li>
<li><a href="#FavouriteGames">Favourite Games</a></li>
<li><a href="#Interests">Interests</a></li>
{% endblock %}

{% block body %}
<section id="CV">
    <div class="section-inner">
        <a href="/CV">CV</a>
    </div>
</section>
<section id="About">
    <div class="section-inner">
        <a href="/PersonalPage">About me</a>
    </div>
</section>
<section id="FavouriteGames">
    <div class="section-inner">
        <a href="/FavouriteGames">My favourite games</a>
    </div>
</section>
<section id="Interests">
    <div class="section-inner">
        <a href="/Interests">My interests</a>
    </div>
</section>
{% endblock %}