{% extends "base.html" %} {% block header %}
<div class="center-text">
  <a id="home" href="index.html">HomePage</a>
</div>
{% endblock %} {% block menu %}
<li><a href="#Introduction">Introduction</a></li>
<li><a href="#Films">Films</a></li>
<li><a href="#History">History</a></li>
<li><a href="#Volounteering">Volounteering</a></li>
{% endblock %} {% block body %}
<section id="Introduction">
  <div class="section-inner">
    <p>
      Outside of my college course, I try to mantain several other hobbies and
      interest. I also try and keep up my social activities<br />
      with going out with friends.<br />
    </p>

    <h3>My Interests</h3>
  </div>
</section>

<section id="Films">
  <div class="section-inner">
    <p>
      Throughout the course of the lockdown I have been watching films with
      friends online while<br />
      The cinemas are closed using netflix party.<br />
      There are also a few good films I have watched recently<br />
      Which I have linked below with reviews
    </p>

    <a href="https://www.netflixparty.com/" target="_blank">
      <img src="static/netflix-party-social.jpg" alt="Netflix Party" />
    </a>

    <table class="interests">
      <tr class="interests">
        <th class="interests">Film</th>

        <th class="interests">Review</th>
        <th>Image</th>
      </tr>

      <tr class="interests">
        <th class="interests">Alita: Battle Angle</th>

        <th class="interests">
          <a
            href="https://www.rottentomatoes.com/m/alita_battle_angel"
            target="_blank"
            >Review</a
          >
        </th>
        <th class="interests">
          <a
            href="https://www.youtube.com/watch?v=w7pYhpJaJW8&ab_channel=20thCenturyStudios"
            target="_blank"
          >
            <img src="static/Alita.jpg" alt="Alita trailer" class="interests" />
          </a>
        </th>
      </tr>

      <tr class="interests">
        <th class="interests">Coco</th>

        <th class="interests">
          <a href="https://www.rottentomatoes.com/m/coco_2017" target="_blank"
            >Review</a
          >
        </th>

        <th class="interests">
          <a
            href="https://www.youtube.com/watch?v=Ga6RYejo6Hk&ab_channel=MovieclipsTrailers"
            target="_blank"
          >
            <img src="static/coco.jpg" alt="Coco trailer" class="interests" />
          </a>
        </th>
      </tr>

      <tr class="interests">
        <th class="interests">Onward</th>

        <th class="interests">
          <a href="https://www.rottentomatoes.com/m/onward" target="_blank"
            >Review</a
          >
        </th>

        <th class="interests">
          <a
            href="https://www.youtube.com/watch?v=gn5QmllRCn4&ab_channel=Pixar"
            target="_blank"
          >
            <img
              src="static/onward.jpg"
              alt="Onward trailer"
              class="interests"
            />
          </a>
        </th>
      </tr>

      <tr>
        <th class="interests">The Equalizer</th>

        <th class="interests">
          <a
            href="https://www.rottentomatoes.com/m/the_equalizer_2013"
            target="_blank"
            >Review</a
          >
        </th>

        <th class="interests">
          <a
            href="https://www.youtube.com/watch?v=VjctHUEmutw&ab_channel=SonyPicturesEntertainment"
            target="_blank"
          >
            <img
              src="static/equalizer.jpg"
              alt="The Equalizer trailer"
              class="interests"
            />
          </a>
        </th>
      </tr>
    </table>
  </div>
</section>

<section id="History">
  <div class="section-inner">
    <p>
      My interest in history started when I was studying history in school which
      I did in school.<br />
      I have also started watching history videos on youtube as well as playing
      some<br />
      games set in historic.<br />
      Apart from general history, I have also been reading books on both Greek
      and Norse mythology.<br />
      Below I have linked both the types of history videos I watch on youtube as
      well as the books<br />
      I am currently reading
    </p>

    <ul class="interests">
      <li class="history-list">
        Overly Sarcastic Productions youtube channel
        <a
          href="https://www.youtube.com/user/RedEyesTakeWarning"
          target="_blank"
        >
          <img src="static/osp.jpg" alt="OSP Logo" class="interests" />
        </a>
      </li>

      <li>
        Historia Civilis youtube channel
        <a href="https://www.youtube.com/c/HistoriaCivilis" target="_blank">
          <img
            src="static/historia.jpg"
            alt="Historia Civilis logo"
            class="interests"
          />
        </a>
      </li>

      <li>
        Greek mythology book by Stephen Fry
        <a
          href="https://www.amazon.co.uk/Mythos-Greek-Retold-Stephen-Fry/dp/0718188721"
          target="_blank"
        >
          <img
            src="static/Greek.jpg"
            alt="Mythos-Greek-Retold-Stephen-Fry"
            class="interests"
          />
        </a>
      </li>

      <li>
        Norse mythology book by Neil Gaiman
        <a
          href="https://www.amazon.co.uk/Norse-Mythology-Neil-Gaiman/dp/1408891956/ref=sr_1_1?crid=3JR3ASKUIUZFU&dchild=1&keywords=norse+mythology+neil+gaiman&qid=1603121921&s=books&sprefix=norse%2Cstripbooks%2C167&sr=1-1"
          target="_blank"
        >
          <img
            src="static/Norse.jpg"
            alt="Norse-Mythology-Neil-Gaiman"
            class="interests"
          />
        </a>
      </li>
    </ul>
  </div>
</section>

<section id="Volounteering">
  <div class="section-inner">
    <h1>Volounteering</h1>

    <h2>Order of Malta Ambulance Corps</h2>

    <p>
      Since last year I have been volounteering with my local Order of Malta
      group.<br />
      At the moment we are just covering horse racing but we also cover various
      sporting events<br />
      and other activities.<br />
      I have currently received training up to a level of FAR (First Aid
      Responder)<br />
      But I am looking to train further once restrictions are lifted and we are
      allowed<br />
      To have meetings again.
    </p>

    <a href="https://orderofmaltaireland.org/" target="_blank"
      >https://orderofmaltaireland.org/</a
    >
    <a
      href="https://www.instagram.com/orderofmaltanaas/?hl=en"
      class="fa fa-instagram"
      target="_blank"
      >instagram</a
    >
  </div>
</section>
{% endblock %}
