<!DOCTYPE html>

<html>
    <head>
        <title>About Me</title>
        <link rel="stylesheet" href="styles/Personal.css">
        <link rel="stylesheet" href="styles/basic-style.css">
    </head>

    <body>
        <header>
            <div class="center-text">
                <a id="home" href="index.html">HomePage</a>
            </div>

            <nav>
                <ul>
                    <li><a href="#General">General</a></li>
                    <li><a href="#Myself">What I do</a></li>
                    <li><a href="#Education">Education</a></li>
                    <li><a href="#Interests">Interests</a></li>
                    <li><a href="#Contact">Contact Details</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="General">
                <div class="section-inner">
                    <h1><b>About Me</b></h1>
                    <p>
                        This website is to present my everyday work at college as well as what I do outside of college to increase my skills.
                    </p>
                    <img src="img/Profile.jpg">
                    <h2><b>Jack Malone</b></h2>
                    <h3><i>3rd year student at <emph>Institute Of Technology Carlow</emph></i></h3>
                </div>
            </section>

            <section id="Myself">
                <div class="section-inner">
                    <h2>What I am currently doing <br></h2>
                    <p>
                        <br>
                        I am currently a college student in third year and going into an internship for 6 months near the beginning of next year.<br>
                        Also, in my spare time I am a gamer as well as taking time to read plenty of books and studying to become a better programmer.<br>
                        I mostly program video games but I have also started doing programming for web development. I hope to work on a security software<br>
                        once I am in my internship.
                    </p>
                </div>
            </section>

            <section id="Education">
                <div class="section-inner">
                    <h2>
                        Education
                    </h2>
                    <p>
                        I am currently in my third year of Games Development in IT Carlow.<br>
                        I have also attended the CBS in Naas where I completed my Leaving Cert.<br>
                        Below is the list of subjects that I have for my current year of college.<br>
                        I have also included a list of the subjects that I studied for the leaving cert.<br>
                    </p>
                    <table>
                        <tr>
                            <th>
                                Module
                            </th>
                            <th>
                                Lecturer 
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Web Development
                            </th>
                            <th>
                                Paul Barry
                            </th>
                        </tr>

                        <tr>
                            <th>
                                DS and Algorithms
                            </th>
                            <th>
                                Ross Palmer
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Project
                            </th>
                            <th>
                                Ross Palmer
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Work Placement
                            </th>
                            <th>
                                Áine Byrne
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Gameplay Programming 2
                            </th>
                            <th>
                                Lei Shei
                            </th>
                        </tr>

                        <tr>
                            <th>
                                3D Graphics 
                            </th>
                            <th>
                                Hisain Elshaafi
                            </th>
                        </tr>
                    </table>

                    <br>
                    <h3>Leaving Cert Subjects</h3>
                    <ul>
                        <li>
                            Maths 
                        </li>
                        <li>
                            Physics 
                        </li>
                        <li>
                            English 
                        </li>
                        <li>
                            Irish 
                        </li>
                        <li>
                            History  
                        </li>
                        <li>
                            French 
                        </li>
                        <li>
                            Economics 
                        </li>
                    </ul>
                </div>

            </section>

            <section id="Interests">
                <div class="section-inner">
                    <h2>
                        Interests
                    </h2>
                    <p>
                        Here is a <a href="Interests.html">link</a> to my interests page.
                    </p>
                </div>
            </section>

            <section id="Contact">
                <div class="section-inner">
                    <h1><b>Contact Details</b></h1>
                    <p>
                        The easiest way to contact me is through email
                    </p>
                    <h2><b>Email: </b> <a href="mailto: c00236428@itcarlow.ie?subject = CV&body = Message">Send email</a></h2>
                </div>
            </section>
        </main>
    </body>
</html>