{% extends "base.html" %}

{% block header %}
<div class="center-text">
    <a id="home" href="/">HomePage</a>
</div>
{% endblock %}

{% block menu %}
<li><a href="#General">General</a></li>
<li><a href="#Myself">What I do</a></li>
<li><a href="#Education">Education</a></li>
<li><a href="#Interest">Interests</a></li>
<li><a href="#Contact">Contact Details</a></li>
{% endblock %}

{% block body %}
<section id="General">
    <div class="section-inner">
        <h1 class="personal"><b>About Me</b></h1>
        <p class="personal">
            This website is to present my everyday work at college as well as what I do outside of college to increase my skills.
        </p>
        <img src="static/Profile.jpg" class="personal">
        <h2 class="personal"><b>Jack Malone</b></h2>
        <h3 class="personal"><i>3rd year student at <emph>Institute Of Technology Carlow</emph></i></h3>
    </div>
</section>

<section id="Myself">
    <div class="section-inner">
        <h2 class="personal">What I am currently doing <br></h2>
        <p class="personal">
            <br>
            I am currently a college student in third year and going into an internship for 6 months near the beginning of next year.<br>
            Also, in my spare time I am a gamer as well as taking time to read plenty of books and studying to become a better programmer.<br>
            I mostly program video games but I have also started doing programming for web development. I hope to work on a security software<br>
            once I am in my internship.
        </p>
    </div>
</section>

<section id="Education">
    <div class="section-inner">
        <h2 class="personal">
            Education
        </h2>
        <p class="personal">
            I am currently in my third year of Games Development in IT Carlow.<br>
            I have also attended the CBS in Naas where I completed my Leaving Cert.<br>
            Below is the list of subjects that I have for my current year of college.<br>
            I have also included a list of the subjects that I studied for the leaving cert.<br>
        </p>
        <table class="personal">
            <tr class="personal">
                <th class="personal">
                    Module
                </th>
                <th class="personal">
                    Lecturer 
                </th>
            </tr>

            <tr class="personal">
                <th class="personal">
                    Web Development
                </th>
                <th class="personal">
                    Paul Barry
                </th>
            </tr>

            <tr class="personal">
                <th class="personal">
                    DS and Algorithms
                </th>
                <th class="personal">
                    Ross Palmer
                </th>
            </tr>

            <tr class="personal">
                <th class="personal">
                    Project
                </th>
                <th class="personal">
                    Ross Palmer
                </th>
            </tr>

            <tr class="personal">
                <th class="personal">
                    Work Placement
                </th>
                <th class="personal">
                    Áine Byrne
                </th>
            </tr>

            <tr class="personal">
                <th class="personal">
                    Gameplay Programming 2
                </th>
                <th class="personal">
                    Lei Shei
                </th>
            </tr>

            <tr class="personal">
                <th class="personal">
                    3D Graphics 
                </th>
                <th class="personal">
                    Hisain Elshaafi
                </th>
            </tr>
        </table>

        <br>
        <h3 class="personal">Leaving Cert Subjects</h3>
        <ul class="personal">
            <li class="personal">
                Maths 
            </li>
            <li class="personal">
                Physics 
            </li>
            <li class="personal">
                English 
            </li>
            <li class="personal">
                Irish 
            </li>
            <li class="personal">
                History  
            </li>
            <li class="personal">
                French 
            </li>
            <li class="personal">
                Economics 
            </li>
        </ul>
    </div>

</section>

<section id="Interest">
    <div class="section-inner">
        <h2 class="personal">
            Interests
        </h2>
        <p class="personal">
            Here is a <a href="Interests.html">link</a> to my interests page.
        </p>
    </div>
</section>

<section id="Contact">
    <div class="section-inner">
        <h1 class="personal"><b>Contact Details</b></h1>
        <p class="personal">
            The easiest way to contact me is through email
        </p>
        <h2 class="personal"><b>Email: </b> <a href="mailto: c00236428@itcarlow.ie?subject = CV&body = Message">Send email</a></h2>
    </div>
</section>
{% endblock %}